# MySQL Configuration
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=cashsphere

# Backend Configuration
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/cashsphere
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

# JWT Configuration
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkNhc2hTcGhlcmUiLCJpYXQiOjE1MTYyMzkwMjJ9
JWT_EXPIRATION=3600000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

# Server Port
SERVER_PORT=8080
